.text-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.animated-text {
  font-size: 24px;
  font-weight: bold;
  animation: textAnimation 5s infinite;
}

.promo-code {
  color: red;
}
.justify-content-between text-light {
  background-color: aqua;
}

@keyframes textAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.custom-dropdown > a.nav-link.dropdown-toggle {
  color: white;
}
